{% extends 'base.html.twig' %}
{% block localstyles %}
    <link href="/assets/css/quick.css" rel="stylesheet">
{% endblock %}
{% block body %}
    {{ form(form) }}
    {% for error in errors %}
        <span class="error">{{ error }}</span>
    {% endfor %}
    <h2>New Files Added</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Original</th>
                <th>Code</th>
                <th>Res</th>
                <th>Subs?</th>
                <th>Censor?</th>
                <th>Unprocessed</th>
            </tr>
            </thead>
            <tbody>
            {% for row in output %}
                <tr>
                    <td>{{ row.origName }}</td>
                    <td>{{ row.code }}</td>
                    <td>{{ row.resolution }}</td>
                    <td>{{ row.subs }}</td>
                    <td>{{ row.unc }}</td>
                    <td>{{ row.rest }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
