{% extends 'base.html.twig' %}

{% block title %}Resolution index{% endblock %}

{% block body %}
    <h1>Resolution index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resolution in resolutions %}
            <tr>
                <td>{{ resolution.id }}</td>
                <td>{{ resolution.name }}</td>
                <td>
                    <a href="{{ path('resolution_show', {'id': resolution.id}) }}">show</a>
                    <a href="{{ path('resolution_edit', {'id': resolution.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('resolution_new') }}">Create new</a>
{% endblock %}
